h1 {
  color: #FDF2D9;
  font-size: 36px;
  font-weight: bold;
  padding: 0px 12px 0px 0px;
}
h2 {
  color: #7af607;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  color: #01fcca;
  font-size: 28px;
  font-weight: bold;
}
h4 {
  color: #0291f8;
  font-size: 26px;
  font-weight: bold;
}
h5 {
  color: #f60f2d;
  font-size: 24px;
  font-weight: bold;
}
h6 {
  color: #a00f36;
  font-size: 22px;
  font-weight: bold;
}

body {
  color: #fff;
  font-size: 20px;
}
